.action-class{
    padding-top: 80px;
    margin: 0 auto;
}

  .example-radio-button {
    margin: 5px;
  }

  .display-class{
      margin-left: 10%;
      width: 80%;
      margin-top: 5%;
  }