.authent-class{
    width: 500px;
    margin: 0 auto;
    padding-top: 150px;
}

.login-full-width {
    width: 100%;
    padding-bottom: 5px;
  }

  .submit-button{
    display: block;
    margin: 0 auto;
    color: rgba(76, 168, 211, 0.836);
  }

  .mat-card-class{
    height: 435px;
  }
 
