.group-item {
    font-size: 30px;
    font-family: serif;
    padding-right: 20px;
    float: left;
}

.button-logout{
    background-color: #A0522D;
    color: white;
    width: 40px;
    height: 40px;
}

.initial-name{
    margin: -8px 0;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

.fill-remaining-space {
    flex: 1 1 auto;
  }

  .mat-toolbar-class{
    background-color: #F4A460; 
    position: absolute;
  }

  .center-logo{
    margin: 0; 
    position: absolute; 
    top: 50%; 
    -ms-transform: translateY(-50%); 
    transform: translateY(-50%);
  }

  .center-pipe{
    display: inline-block; 
    width: 2px; 
    height: 50px; 
    background-color: black; 
    margin-left: 45px; 
    margin-right: 20px; 
    -ms-transform: translateY(-50%);
    transform: translateY(5%); 
  }

  .logo-temp{
      font-size: 45px;
      font-weight: 400;
  }