.group-item {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 20px;
    float: left;
}

.button-logout{
    background-color: #A0522D;
    color: white;
}

.fill-remaining-space {
    flex: 1 1 auto;
  }