<mat-toolbar style="background-color: #F4A460;">
  <div class="group-item">
    <span>Welcome {{userDisplayName$ | async}} in your TennisPart</span>
  </div>
  <span class="fill-remaining-space"></span>
  <div>
    <button mat-button mat-fab *ngIf="userDisplayName$ | async" [matMenuTriggerFor]="menu" class="button-logout">
    <div class="initial-name">{{userInitial$ | async}}</div>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button (click)="showProfil()" mat-menu-item>
    <mat-icon style="color: rgb(65, 76, 228);">edit</mat-icon>
    <span>Edit profil</span>
  </button>
  <button (click)="logout()" mat-menu-item>
    <mat-icon style="color: rgb(199, 58, 58);">eject</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>

