.check-circle {
    float: left;
    font-size: 40px !important;
  }
  
  .with-icon {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .close-alignment {
    position: relative;
    top: -3px;
  }
  
 
