.popup-title {
    text-align: left;
    width: 100%;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-container {
    display: flex;
}

.close-icon{
   cursor: pointer;
   margin-right: -5px;
}

.login-full-width {
    width: 100%;
    padding-bottom: 5px;
  }
  .submit-button{
    display: block;
    margin: 0 auto;
    //color: rgba(76, 168, 211, 0.836);
    color: #A0522D;
  }

  .mat-card-class{
    margin-top: 15px;
  }