<div class="container list-class" fxFlexFill fxLayout="row wrap">
    <!-- <mat-card class="example-card">
        <mat-icon class="icon-dashboard">shopping_cart</mat-icon>
        <mat-card-content>
            <p>
                Buy and sell some weapons
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-icon class="icon-dashboard">youtube_searched_for</mat-icon>
        <mat-card-content>
            <p>
                Looking for a knight
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-icon class="icon-dashboard">play_circle_outline</mat-icon>
        <mat-card-content>
            <p>
                Your story in the arena
            </p>
        </mat-card-content>
    </mat-card> -->
    it works
</div>
